<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="impulse2k18">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/impulse_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.amidezcod.impulse2k18.activity.MainActivity"
            android:parentActivityName="com.amidezcod.impulse2k18.activity.BubblePickerActivity" />
        <activity
            android:name="com.amidezcod.impulse2k18.activity.AboutActivity"
            android:parentActivityName="com.amidezcod.impulse2k18.activity.BubblePickerActivity" />
        <activity
            android:name="com.amidezcod.impulse2k18.activity.EventDetailsActivity"
            android:parentActivityName="com.amidezcod.impulse2k18.activity.MainActivity" />
        <activity
            android:name="com.amidezcod.impulse2k18.activity.RegisterActivity"
            android:parentActivityName="com.amidezcod.impulse2k18.activity.EventDetailsActivity" />
        <activity android:name="com.amidezcod.impulse2k18.activity.BubblePickerActivity" />
        <activity
            android:name="com.amidezcod.impulse2k18.activity.RulesActivity"
            android:label="Rules"
            android:parentActivityName="com.amidezcod.impulse2k18.activity.BubblePickerActivity"
            android:theme="@style/withToolbar" />
        <activity
            android:name="com.amidezcod.impulse2k18.activity.CodeOfConductActivity"
            android:label="Code Of Conduct"
            android:parentActivityName="com.amidezcod.impulse2k18.activity.RulesActivity"
            android:theme="@style/withToolbar" />
        <activity
            android:name="com.amidezcod.impulse2k18.activity.SplashScreen"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/withToolbar"
            android:name="com.amidezcod.impulse2k18.activity.DeveloperActivity"
            android:parentActivityName="com.amidezcod.impulse2k18.activity.BubblePickerActivity"
            />
    </application>

</manifest>